@import './base.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-height: 100%;
  
}




#app {
  background-color: #9b9797;
}


/* @media (hover: hover) {
  a:hover {
    font-weight: bold;
    transition:  0.2s;
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  
} */
