@import "./base.css";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	max-height: 100%;
}

#app {
	background-color: #30303000;
	background-image: url("../assets/star-wars-backgrounds-25_bc15ec98.jpeg");
}
